@media screen and (min-width: 900px){
  .outer_div{
    display:flex;
    padding-top: 4rem;
  }
  .inner_div_1{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding:100px 0;
    padding-left: 25vw;
    width:50%;
    height: 600px;
  }
  .name1 {
    color: black;
    font-weight: 600;
    font-size: 65px;
  }
  .name2 {
    color:rgb(61, 51, 155);
    font-weight: 600;
    font-size: 65px;
  }
  .info{
    font-size: 15px;
    font-weight: 600;
  }
  .inner_div_2{
    display: flex;
    width:50%;
    height: 600px;
    align-items: center;
    
  }
  .button1{
    display: flex;
    align-items: center;
    background-color:rgb(61, 51, 155);
    color: white;
    border: none;
    border-radius: 25px;
    padding:20px 40px;
    height: 25px;
  }
  .img{
    object-fit: cover;
    width: 420px;
    border-radius: 250px;
    height: 420px;
  }
  .skills{
    display: flex;
    justify-content:center;
    margin-top: 30px;
  }
  .skills p{
    color:white;
  }
  .skill1 , .skill2 , .skill3{
    width: 25%;
    padding:30px 20px;
    background-color:rgb(61, 51, 155);
    margin: 0 1vw;
    border-radius: 5px;
  }

  .skill1 h3, .skill2 h3 , .skill3 h3{
    padding:10px 0px;
    color:white;
  }

  .skill_Icon{
    color:white;
    font-size: 45px;
  }

  .getInTouch{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
  }
  
  .contacts{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
    padding: 0 10vw;
    /* margin-top:50px; */
  }

  .contacts p{
    color:rgb(61, 51, 155);
    padding: 2px 0;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 520;
  }   
  .contacts p:nth-child(2n){
    color:rgb(61, 51, 155);
    padding: 2px 0;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contacts div{
      width: 100%;
      padding:30px 20px;
      background-color:rgb(255, 255, 255);
      margin: 0 30px;
      border-radius: 5px;
      box-shadow: rgb(230, 230 ,230) 0px 0px 4px 1.3px;
    }

    .txt1:hover{
      transition: 400ms ease-in-out;
      color: rgb(0, 0, 0);
    }
}
@media screen and (max-width: 900px) and (min-width: 520px){
  
  .outer_div{
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    
  }
  .inner_div_1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:30px 0;
    width:100%;
    height: 400px;
  }
  .name1 {
    color: black;
    font-weight: 600;
    font-size: 55px;
  }
  .name2 {
    color:rgb(61, 51, 155);
    font-weight: 600;
    font-size: 55px;
  }
  .info{
    font-size: 15px;
    font-weight: 600;
  }
  .inner_div_2{
    display: flex;
    width:100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  .button1{
    display: flex;
    align-items: center;
    background-color:rgb(61, 51, 155);
    color: white;
    border: none;
    border-radius: 25px;
    padding:20px 40px;
    height: 25px;
  }
  .img{
    object-fit: cover;
    width: 420px;
    border-radius: 250px;
    height: 420px;
  }

  .skills{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
  }
  .skills p{
    color:white;
  }
  .skill1 , .skill2 , .skill3{
    width: 90%;
    padding:30px 100px 30px 60px;
    background-color:rgb(61, 51, 155);
    margin: 10px 1vw;
    border-radius: 5px;
  }

  .skill1 h3, .skill2 h3 , .skill3 h3{
    padding:10px 0px;
    color:white;
  }

  .skill_Icon{
    color:white;
    font-size: 45px;
  }
  
  .getInTouch{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
  }
  .contacts{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
    padding: 0 8vw;
    /* margin-top:50px; */
  }

  .contacts p{
    color:rgb(61, 51, 155);
    padding: 2px 0;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 520;
  }   
  .contacts p:nth-child(2n){
    color:rgb(61, 51, 155);
    padding: 2px 0;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contacts div{
      width: 100%;
      padding:30px 20px;
      background-color:rgb(255, 255, 255);
      margin: 0 30px;
    
      border-radius: 5px;
      box-shadow: rgb(230, 230 ,230) 0px 0px 4px 1.3px;
    }
    .txt1:hover{
      transition: 400ms ease-in-out;
      color: rgb(0, 0, 0);
    }
}
@media screen and (max-width: 520px){
  .outer_div{
    display:flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }
  .inner_div_1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:30px 0;
    width:100%;
    height: 300px;
  }
  .name1 {
    color: black;
    font-weight: 600;
    font-size: 45px;
  }
  .name2 {
    color:rgb(61, 51, 155);
    font-weight: 600;
    font-size: 45px;
  }
  .info{
    font-size: 15px;
    font-weight: 600;
  }
  .inner_div_2{
    display: flex;
    width:100%;
    height: 320px;
    align-items: center;
    justify-content: center;
    
  }
  .button1{
    display: flex;
    align-items: center;
    background-color:rgb(61, 51, 155);
    color: white;
    border: none;
    border-radius: 25px;
    padding:20px 40px;
    height: 25px;
  }
  .img{
    object-fit: cover;
    width: 300px;
    border-radius: 200px;
    height: 300px;
  }

  .skills{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
  }
  .skills p{
    font-size: 15px;
    color:white;
  }
  .skill1 , .skill2 , .skill3{
    width: 90%;
    padding:30px 40px 30px 30px;
    background-color:rgb(61, 51, 155);
    margin: 7px 1vw;
    border-radius: 5px;
  }

  .skill1 h3, .skill2 h3 , .skill3 h3{
    padding:10px 0px;
    color:white;
  }

  .skill_Icon{
    color:white;
    font-size: 35px;
  }
  
  .getInTouch{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
  }
  
  .contacts{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1 , 1fr);
    gap: 15px;
    justify-items: center;
    margin-bottom: 40px;
    padding: 0 5vw;
    /* margin-top:50px; */
  }

  .contacts p{
    color:rgb(61, 51, 155);
    padding: 2px 0;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 520;
  }   
  .contacts p:nth-child(2n){
    color:rgb(61, 51, 155);
    padding: 2px 0;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contacts div{
      width: 100%;
      padding:20px 20px;
      background-color:rgb(255, 255, 255);
      margin: 0 30px;
      border-radius: 5px;
      box-shadow: rgb(230, 230 ,230) 0px 0px 4px 1.3px;
    }

}