@media screen and (min-width: 900px){
    
    .outer_div{
        position:fixed;
        width: 100%;
        top: 0;
        height: 4rem;
        background-color: rgb(61, 51, 155);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }

    .outer_div p{
        font-size: 20px;
        font-weight: 400;
        color:white;
    }
    
    .inner_div_1 , .inner_div_3{
        display: flex;
        justify-content : space-between;
        list-style: none;
    }
   
    .inner_div_1 li , .inner_div_3 li{
        padding: 0 0.7vw;
        font-size: 14px;
        color: white;
    }
    
    .inner_div_2{
        display: flex;
        width: 11vw;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .logo1 ,.logo2 ,.logo3 ,.logo4{
        font-size: 20px;
        color: white;
    }
    .logo1:hover{
        color:rgb(218, 134, 148); 
        transition: 300ms ease-in-out;
    }
    .logo2:hover{
        color:rgb(1, 101, 255);
        transition: 300ms ease-in-out;
    }
    .logo3:hover{
        color:rgb(7, 0, 1);
        transition: 300ms ease-in-out;
    }
    .logo4:hover{
        color:rgb(29, 155, 240);
        transition: 300ms ease-in-out;
    }    
    .bar{
        display: none;
        color: white;
    }
}


@media screen and (max-width: 900px) and (min-width: 520px){
    .outer_div{
        position:fixed;
        width: 100%;
        top: 0;
        height: 3rem;
        background-color: rgb(61, 51, 155);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }

    .outer_div p{
        font-size: 18px;
        font-weight: 400;
        margin-left:27vw;
        color: white;
    }
    
    .inner_div_1{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        background-color :rgb(61, 51, 155);
        position: fixed;
        height: 100vh;
        width: 40vw;
        top:3.1rem;
        left:0;
    }
    .inner_div_1 li{
        padding: 18px 0;
        font-size: 14px;
        color: rgb(255, 255, 255);
        
    }
    .inner_div_3{
        display: none;
        justify-content : space-between;
        list-style: none;
    }
   
    
    .inner_div_3 li{
        padding: 0 0.7vw;
        font-size: 14px;
        display:none;
    }
    
    .inner_div_2{
        display: flex;
        width: 17vw;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .logo{
        font-size: 18px;
        color: white;
    }
    .bar{
        color: white;
    }
    .logo1, .logo2, .logo3, .logo4{
        color:white;
    }
    
}
@media screen and (max-width: 520px){
    .outer_div{ position:fixed;
        width: 100%;
        top: 0;
        height: 2.5rem;
        background-color: rgb(61, 51, 155);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }

    .outer_div p{
        font-size: 16px;
        font-weight: 500;
        margin-left:15vw;
        color: white;
    }
    
    .inner_div_1{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        background-color :rgb(61, 51, 155);
        position: fixed;
        height: 100vh;
        width: 45vw;
        top:2.56rem;
        left:0;
    }
    .inner_div_1 li{
        padding: 18px 0;
        font-size: 13px;
        color: rgb(255, 255, 255);
        
    }
    .inner_div_3{
        display: none;
        justify-content : space-between;
        list-style: none;
    }
   
    
    .inner_div_3 li{
        padding: 0 0.7vw;
        font-size: 14px;
        display:none;
    }
    
    .inner_div_2{
        display: flex;
        width: 27vw;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .logo, .bar{
        font-size: 16px;
        color: white;
    }
    .logo1, .logo2, .logo3, .logo4{
        color: white;
    }
}

